.customHeder {
  background: black;
  position: fixed;
  top: 0; /* Ensure the header is at the top of the screen */
  left: 0; /* Ensure the header starts from the left edge */
  width: calc(100% - 40px); /* Adjust the width */
  z-index: 100; /* Ensure the header is above other content */
  padding: 10px 20px; /* Optional: Add some padding inside the header */
  min-height: 60px;
}

/* Grid container */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px; /* Optional: space between grid items */
}

/* Grid items */
.gridItem {
  text-align: center;
  align-self: center;
}

/* Media query for mobile devices */
@media screen and (max-width: 800px) {
  .gridContainer {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}

.fixedSizeSpan {
  display: inline-block; /* Makes it respect width */
  width: 45px; /* Set desired width */
  padding: 5px; /* Optional: To add some space around the text */
}

.navButton {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  border: unset;
}

.navIcon {
  content: url(../assets/icons/hamburger.svg);
  width: 48px;
  height: 48px;
}

.xButton {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  border: unset;
}

.xIcon {
  content: url(../assets/icons/cross-mark.svg);
  width: 48px;
  height: 48px;
}

.zoomButton {
  font-size: large;
  width: 40px;
}
